@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9850 0 0);
  --foreground: oklch(0.2138 0.0019 286.2347);
  --card: oklch(0.9700 0 0);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(0.9702 0 0);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.7650 0.1770 163.2230);
  --primary-foreground: oklch(0.2860 0.0556 171.7944);
  --secondary: oklch(0.6960 0.1700 162.4800);
  --secondary-foreground: oklch(0.1450 0 0);
  --muted: oklch(0.9050 0.0930 164.1500);
  --muted-foreground: oklch(0.3715 0 0);
  --accent: oklch(0.9367 0.1019 155.4510);
  --accent-foreground: oklch(0.4386 0 0);
  --destructive: oklch(0.7036 0.1881 22.1462);
  --destructive-foreground: oklch(0.2138 0.0019 286.2347);
  --border: oklch(0.9219 0 0);
  --input: oklch(0.8699 0 0);
  --ring: oklch(0.8699 0 0);
  --chart-1: oklch(0.6350 0.1299 167.1279);
  --chart-2: oklch(0.6227 0.1100 184.5255);
  --chart-3: oklch(0.5471 0.1128 166.5320);
  --chart-4: oklch(0.4784 0.0835 187.0180);
  --chart-5: oklch(0.4189 0.0836 169.2526);
  --sidebar: oklch(0.9702 0 0);
  --sidebar-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9702 0 0);
  --sidebar-accent: oklch(0.6350 0.1299 167.1279);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.2138 0.0019 286.2347);
  --sidebar-ring: oklch(0.2138 0.0019 286.2347);
  --font-sans: Space Grotesk, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2050 0 0);
  --foreground: oklch(0.9850 0 0);
  --card: oklch(0.2690 0 0);
  --card-foreground: oklch(0.9850 0 0);
  --popover: oklch(0.2264 0 0);
  --popover-foreground: oklch(0.9850 0 0);
  --primary: oklch(0.596 0.145 163.225);
  --primary-foreground: oklch(0.9850 0 0);
  --secondary: oklch(0.696 0.17 162.48);
  --secondary-foreground: oklch(0.9850 0 0);
  --muted: oklch(0.4750 0.0959 168.2778);
  --muted-foreground: oklch(0.9970 0 0);
  --accent: oklch(0.3117 0.0525 190.8964);
  --accent-foreground: oklch(0.9850 0 0);
  --destructive: oklch(0.6162 0.2506 26.2396);
  --destructive-foreground: oklch(0.2264 0 0);
  --border: oklch(0.3710 0 0);
  --input: oklch(0.6334 0 0);
  --ring: oklch(0.4997 0 0);
  --chart-1: oklch(0.596 0.145 163.225);
  --chart-2: oklch(0.5459 0.0956 186.3436);
  --chart-3: oklch(0.4345 0.0876 168.4066);
  --chart-4: oklch(0.4724 0.0822 187.9952);
  --chart-5: oklch(0.2928 0.0575 170.8162);
  --sidebar: oklch(0.2690 0 0);
  --sidebar-foreground: oklch(0.9850 0 0);
  --sidebar-primary: oklch(0.9850 0 0);
  --sidebar-primary-foreground: oklch(0.3012 0 0);
  --sidebar-accent: oklch(0.4189 0.0836 169.2526);
  --sidebar-accent-foreground: oklch(0.9850 0 0);
  --sidebar-border: oklch(0.3012 0 0);
  --sidebar-ring: oklch(0.4202 0 0);
  --font-sans: Space Grotesk, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.00);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 10.1961% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}